<div class=" flex items-center justify-center h-60 bg-orange-400 border-b-2 border-dotted border-slate-600">
  <%= button_to 'Create new session', sessions_path, class: 'text-slate-600 bg-emerald-600 p-3 rounded border-2 border-dotted border-slate-600 hover:bg-emerald-700 hover:text-slate-700' %>
</div>
